<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AutoCalMoney</title>
</head>
<body>
	<ul id="app">
		<li v-for="(item, index) in goods">
			商品名称：<input type="text" v-model="item.goodName">
			商品价格：<input type="number" v-model="item.goodPrice">
			商品数量：<button v-on:click="handleMinus(index)">-</button><input type="text" v-model="item.goodNumber"><button v-on:click="handleIncrement(index)">+</button>
			共计：<span>{{ item.goodTotal = item.goodPrice * item.goodNumber }}</span>
			<button v-on:click="deleteLine(index)">×</button>
		</li>
		<input type="text" v-model="newGood"><button v-on:click="handleAdd">加一行</button>
		<br>
		商品总价共计：<span>{{ total() }}</span>
	</ul>
	
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
	const goods = [
		{
			id:1,
			goodName:'商品名',
			goodPrice:0,
			goodNumber:0,
			goodTotal:0
		}
	]
	const app = new Vue ({
		el: '#app',
		data: {
			goods,
			newGood:'',
		},
		methods: {
			handleMinus: function (index) {
				console.log(this)
				this.goods[index].goodNumber = this.goods[index].goodNumber - 1 < 0 ? 0 : this.goods[index].goodNumber - 1
			},
			handleIncrement: function (index) {
				console.log(this)
				this.goods[index].goodNumber++
			},
			handleAdd:function () {
				//得到文本框的内容
				//把内容push到goods中
				const newGoodName = this.newGood.trim()

				//非空校验
				// if (!newGoodName.length) {
				// 	return
				// }

				const goods = this.goods

				//MVVM
				goods.push({
					id:goods[goods.length - 1].id + 1,
					goodName: newGoodName,
					goodPrice:0,
					goodNumber:0,
					goodTotal:0
				})

				//添加good完成，清空文本框
				this.newGood = ''
			},
			deleteLine:function (index) {
				this.goods.splice(index, 1)
			},
			total:function () {
				var sum = 0
				for (item of goods) {
					sum = sum + item.goodTotal
				}
				return sum
			}
		}
	})
</script>
</body>
</html>