<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留言本</title>
	<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<header class="header container">
		<div class="page-header">
			<h1>首页<small>留言板</small></h1>
			<a href="/post" class="btn">发表留言</a>
		</div>
		<div class="comments container">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="pull-right">
						
					</span>
				</li>
			</ul>
		</div>
		

	</header>
	<main></main>
</body>
</html>